<div class="play-list-body">
  <ul class="play-list-table-header">
      <li (click)="changeSort('name')">Nombre ❤</li>
      <li (click)="changeSort('album')">álbum 🆗</li>
      <li>fecha incorporación 🍌😁</li>
      <li><i class="uil uil-clock-eight"></i></li>
  </ul>
  <ul class="play-list-rows" *ngFor="let track of tracks | orderList:optionSort.property:optionSort.order">
      <li class="track-name">
        <!-- asignamos el valor a la variable del lado izquierdo, en este caso track, pasa a ser track -->
          <ng-container *ngTemplateOutlet="coverSection;context:{track:track}"></ng-container>
      </li>
      <li class="track-name-opacity">
          {{track.album}}
      </li>
      <li class="track-name-opacity">
          {{track.album}}
      </li>
      <li class="track-name-opacity">
          {{track.album}}
      </li>

  </ul>
</div>

<!--template del cover-->
<!-- declaramos una variable dentro del template con let-track, que viene de la variable asignada arriba que es track, luego lo que viene
al lado del let- que seria track, sera el nombre de esa variable dentro de este contexto de template-->
<ng-template #coverSection let-track="track">

  <div class="cover-section">
      <img appImgBroken class="cover-track" [src]="track.cover" [alt]="track.name">
      <div class="cover-info">
          <div class="name-track">{{track.name}}</div>
          <div class="name-track-details">{{track.artist.name}}</div>
      </div>
  </div>

</ng-template>
